$yellow : #fedc37;
$gray: #646464;
$gray-light: #f5f5f5;
$white: #ffffff;
$green-light:#ccff99;





@import '../fonts/icomoon/style.css';

[mag-run-menu-component]{
    display: none;
}
[mag-run-menu-component].logged-in{
    display: inline-block;
}


/** Helpers **/
[ng-cloak] { visibility: hidden;}

.text-center{
    text-align: center !important;
}
.text-upper{
    text-transform: uppercase ;
}

.mx-auto{
    margin:0px auto;
}
.mt-1{
    margin-top:1rem;
}
.mt-2{
    margin-top:2rem;
}
.mt-3{
    margin-top:3rem;
}
.mt-4{
    margin-top:4rem;
}
.mt-5{
    margin-top:5rem;
}
.mb-1{
    margin-bottom:1rem;
}
.mb-2{
    margin-bottom:2rem;
}
.mb-3{
    margin-bottom:3rem;
}
.pb-3{
    padding-bottom:3rem;
}
.mb-4{
    margin-bottom:4rem;
}
.mb-5{
    margin-bottom:5rem;
}
.d-none { display: none !important;}

.clickable{
    cursor: pointer;
}

.relative{
    position: relative;
}

.show-mobile{
    @media only screen and (min-width: 600px) {
        display: none !important;
    }    
}

.hide-mobile{
    @media only screen and (max-width: 600px) {
        display: none !important;
    }    
}

/** Colors **/
.text-yellow{ color:$yellow !important;}
.text-gray{ color:$gray !important;}
.bkg-yellow{ background-color:$yellow; }

.bkg-gray-light{ background-color: $gray-light; }
.bkg-white{ background-color: #fff !important;}

/** Beetle **/
.beetle{
    width:100px;
    height:100px;
    display:block;
    font-size:63px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.beetle-circle{
    border-radius: 100%;   
}
.btn-modal-close{
    padding: 5%;
    margin: 10px 0px;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid !important;
    border-radius: 100%;
    font-size: 12px;
}


.mg{
    &-h1{
        font-family: 'Lato';
        font-size: 63px;
        font-weight: bold;
        line-height: 66px;
    }
    &-h2{
        font-family: 'Lato';
        font-size: 30px;
        font-weight: bold;
    }
    &-h4{
        font-family: 'Lato';
        font-size: 20px;
        font-weight: normal;
    }
    &-display-1{
        font-size:64px;
        line-height: 1.5em;
        font-family: "Barlow Condensed";
        font-weight: bold;
        @media (min-width: 640px){
            font-size:87px;
        }
    }
    &-btn{
	    padding:5px 10px;
	    font-size: 1rem;
        text-transform: uppercase;
        border-radius:12px;
        border: none;
        outline: none;
	    &.btn-xl{
            font-family: "Barlow Condensed";
		    border-radius: 30px;
		    font-size: 2rem;
		    padding:10px 60px;
	    }
    }
    &-default{
        font-family: Roboto, Arial, Helvetica, sans-serif;        
    }
    &-input{
        border: 1px solid $gray !important;
        outline: none;
        height:auto !important;
        padding: 20px !important;
        font-size: 20px !important;
        text-align: center;
        background: white;
        border-radius: 20px !important;     
        color:$gray;   
        width: 100%;
    }
    &-textarea{
        border: 1px solid $gray !important;
        outline: none;
        height:auto !important;
        padding: 20px !important;
        font-size: 20px !important;
        background: white;
        border-radius: 20px !important;     
        color:$gray;   
        width: 100%;

    }
    &-modal-body{
        .mg-input{
            background: $gray-light !important;
        }
    }
}

.mp-form-submit{
    padding:5px 10px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 30px;
    

}


/** Elements **/

.horizontal-section-bar{
    background: $gray;
    color:$white;
    padding:20px;
    text-align: center;
	margin: 20px auto 10px;
    font-family: "Barlow Condensed";
    font-size: 30px;
}


/** Overrides **/ 

.loading-container{
    min-height: 40vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width:100%;

    .loading{
        width:100%;
        height:70px;
        display:block;
        text-align:center;
        span{
            display:inline-block;
            float:none;
            // margin-left:-10px;
            // margin-right:-10px;
            width:40px;
            height:40px;
            font-size:30px;
            background-color:$yellow;
            border-radius: 100%;
            &:before{
                content: "\e999";
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 38px;
                font-size: 24px;
                }
            &.load-1{
                opacity:0;
                -webkit-animation: loader 1s infinite alternate;
                -moz-animation:    loader 1s infinite alternate; 
                -o-animation:      loader 1s infinite alternate; 
                animation:         loader 1s infinite alternate;
            }
            &.load-2{
                opacity:0;
                -webkit-animation: loader 1s infinite alternate .2s;
                -moz-animation:    loader 1s infinite alternate .2s; 
                -o-animation:      loader 1s infinite alternate .2s; 
                animation:         loader 1s infinite alternate .2s;
            }
            &.load-3{
                opacity:0;
                -webkit-animation: loader 1s infinite alternate .4s;
                -moz-animation:    loader 1s infinite alternate .4s; 
                -o-animation:      loader 1s infinite alternate .4s; 
                animation:         loader 1s infinite alternate .4s;
            }
            &.load-4{
                opacity:0;
                -webkit-animation: loader 1s infinite alternate .5s;
                -moz-animation:    loader 1s infinite alternate .5s; 
                -o-animation:      loader 1s infinite alternate .5s; 
                animation:         loader 1s infinite alternate .5s;
            }
            
        }
    }
    
    @-webkit-keyframes loader {
        0%   { opacity: 0; transform:translateX(-10px);}
        100% { opacity: 1; transform:translateX(10px);  }
    }
    @-moz-keyframes loader {
        0%   { opacity: 0; transform:translateX(-10px);}
        100% { opacity: 1; transform:translateX(10px);  }
    }
    @-o-keyframes loader {
        0%   { opacity: 0; transform:translateX(-10px);}
        100% { opacity: 1; transform:translateX(10px);  }
    }
    @keyframes loader {
        0%   { opacity: 0; transform:translateX(-10px);}
        100% { opacity: 1; transform:translateX(10px);  }
    }
    
}
.app-container{
    opacity: 0;
    transition: all .2s ease-in;
    &.ready{
        opacity: 1;
        transition: all .2s ease-in;
    }
}


// Athlete Profile
.page-template-page-athlete-profile {
	
	.fusion-page-title-bar{
        display: none;
    }
   #main{
	   padding-right:0px !important;
	   padding-left:0px !important;
		 .fusion-row {
			 max-width: 100%;
		}
     }
    @media (min-width: 0px){
        .container {
            width: 100%;
        }
    }
    @media (max-width: 990px){
        .bootstrap-wrapper .container {
            max-width: 100% ;
        }
    }
}

.this-week-goal{
    &.success{
        .success-check{
            opacity: 1;
        }
    }
    .success-check{
        opacity: 0;
        position: absolute;
        text-align:center;
        width:100%;
        padding-right:30px;
        .icon-check-large{
            color:$green-light;
            font-size: 130px;
            @media (min-width: 576px){
                font-size:160px;
            }
        }
    }
    .success-text{
        position: relative;
    }
}

.run-log-header{
    font-family: "Lato";
    font-weight: bold;
    font-size:16px;
    border-bottom:1px solid $gray;
    padding-bottom:18px;
    padding-top:18px;
}
.run-log-row{
    font-family: "Lato";
    font-size:24px;
    border-bottom:1px solid $gray;
    padding-bottom:18px;
    padding-top:18px;
    .run-log-row-date-lg{
        display: none;
        @media only screen and (min-width: 600px) {
            display: flex !important;
        }
    }
    .run-log-row-date-sm{
        @media only screen and (min-width: 600px) {
            display: none !important;
        }
    }

    .clickable{
        border: 1px solid black;
        border-radius: 100%;
        padding: 6px;
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 18px;
        opacity: .7;
        transition: all .1s ease-out;
        &:hover{
            opacity: 1;
            transition: all .2s ease-in;
            background: $yellow;
        }
    }
}

.toggle-drop{
    // position: absolute;
    button{
        cursor: pointer;
        outline:none;
        background:none;
        font-size:16px;
        border:none;
        border-right:1px solid;
        &:hover{
            color: $yellow;
            border-color: #646464;
        }
        &:last-child{
            border-right:none !important;
        }
    }
}

/** Event Calender **/
.fc-content-skeleton{
    pointer-events: none !important;
}


.fc-next-button, .fc-prev-button {
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.fc-header-toolbar h2{
    font-family: 'Lato';
}
.fc-day.fc-widget-content.has-events{
	background-color:$green-light;
}
.fc-listWeek-view{
    td.fc-list-item-title.fc-widget-content:hover {
        background:white !important;
    }
    .fc-list-heading-alt{
        float: none;
    }
}
.fc-day-grid .fc-event-container{
    display: none;
}
.fc-day-total{
    font-size: 10px;
    font-family: "Lato";
    text-align: center;
    padding-top: 24px;    
    line-height: 20px;
    @media only screen and (min-width: 990px) {
        font-size: 20px;
        line-height: 40px;
    }
}
.fc-day-number{
    @media only screen and (max-width: 990px) {
        font-size: 12px;
    }
}
.fc-day-header{
    border:none !important;
}
.fc-month-view .fc-head-container.fc-widget-header{
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color:  transparent !important;
}
.fc-day{
    cursor: pointer;
}

.calendar-container{
    position: relative;
    .loader{
        display: none;
    }
    &.loading{
        .loader{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background:rgba( 255, 255, 255, .7);
            font-size: 72px;
            font-weight: bold;
            position: absolute;
            z-index: 100;
        }
    }
}
.mepr-submit, .mepr-share-button, .mepr-account-change-password , 
button.fc-month-button.fc-button,
button.fc-listWeek-button.fc-button {
    border:none;
    border-radius: 20px !important;
    padding:5px 10px;
    text-transform: uppercase;
    font-family: "Barlow Condensed";
    border-radius: 30px;
    font-size: 1rem;
    padding:10px 60px;
    background: #ffde17;
    color: #333333;
    cursor: pointer;
    outline:none;
}

.mepr-account-change-password{
    float: left;
    padding: 5px 60px;
    a{
        color: #333333;
        &:hover{
            color: #333333;
        }
    
    }
}

/** Accounts Pages **/ 
.page-template-page-accounts {
    #main {
        padding: 0px !important;
    }

    
    .mepr-account-welcome-message{
        p {
            font-size: 1.2rem;
        }
    }
    #mepr-account-nav{
        margin-top:40px;
    }
    
}

.mp_wrapper table.mepr-account-table {
    text-align: left;
}

.mepr_error {
    background:none !important;
    border:none;
    border-bottom: 1px solid #d40022 !important;
    color:#d40022;
}e

body.logged-out li.menu-item a[title="ATHLETE PROFILE"] {
    display: none !important;
}
body.logged-out li.menu-item a[title="MY ACCOUNT"] {
    display: none !important;
}


body{
    &.logged-out{
        a[title="ATHLETE PROFILE"],a[title="POST MY RUN"] ,a[title="MY ACCOUNT"] { display: none !important;}
    }
    &.logged-in{
        // a[title="MY PROFILE"],a[title="POST MY RUN"] { display: inline-block !important;}
        [title="JOIN NOW"], [title="LOGIN"]{ display: none !important;}
    }
}