@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hcinxe');
  src:  url('fonts/icomoon.eot?hcinxe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hcinxe') format('truetype'),
    url('fonts/icomoon.woff?hcinxe') format('woff'),
    url('fonts/icomoon.svg?hcinxe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mg-edit:before {
  content: "\e901";
}
.icon-check-large:before {
  content: "\e900";
}
.icon-beetle:before {
  content: "\e999";
}
